@charset "utf-8";

@import "settings";

// 背景图路径简写
@mixin bg($bgname, $type: "app", $left: center, $top: center) {
    @if $type == "app" {
        background-image: url(#{$appBg}/#{$bgname});
    }
    @else if $type == "common" {
        background-image: url(#{$commonBg}/#{$bgname});
    }
    @else if $type == "utils" {
        background-image: url(#{$utilsBg}/#{$bgname});
    }
    @else {
        background-image: url(#{$bgname});
    }

    background-position: $left $top;
    background-repeat: no-repeat;
}

// 垂直渐变背景
@mixin gradient-vertical($direction, $start, $end, $times: 1) {
    // background: $start;
    @if $direction == top {
        $direction: to bottom;
    }
    @else if $direction == bottom {
        $direction: to top;
    }

    @if $times == 1 {
        background-image: none;
    }
    @else {
        $all: linear-gradient($direction, $start, $end);

        @for $i from 2 to $times {
            $all: append($all, linear-gradient($direction, $start, $end), comma);
        }

        background-image: $all;
    }
}

// clearfix
%clearfix {
    &:before, &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

// 文本溢出
%ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 文本折行切断
%word-break {
    word-break: break-word;
    word-wrap: break-word;
}

%text-hide {
    display: block;
    text-indent: -9999em;
    overflow: hidden;
}

// 文本折行溢出，显示省略号
// 只是适合webkit浏览器
@mixin line-clamp($clamps: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $clamps;
    -webkit-box-orient: vertical;
}

// css小三角
%triangle-basic {
    content: "";
    height: 0;
    width: 0;
    overflow: hidden;
}

@mixin triangle($direction, $size, $borderColor) {
    @extend %triangle-basic;

    @if $direction == top {
        border-bottom: $size solid $borderColor;
        border-left: $size dashed transparent;
        border-right: $size dashed transparent;
    }
    @else if $direction == right {
        border-left: $size solid $borderColor;
        border-top: $size dashed transparent;
        border-bottom: $size dashed transparent;
    }
    @else if $direction == bottom {
        border-top: $size solid $borderColor;
        border-left: $size dashed transparent;
        border-right: $size dashed transparent;
    }
    @else if $direction == left {
        border-right: $size solid $borderColor;
        border-top: $size dashed transparent;
        border-bottom: $size dashed transparent;
    }
}