
<!DOCTYPE html>
<html lang="zh-cms-Hans">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="wrapper">
    <div class="md2">
      <div class="md-inner">
        <a href="#" class="play-btn" target="_blank">立即参与</a>
        <a href="javascript:void(0)" id="J-rules" class="rules">抽奖攻略</a>
        
      </div>    
    </div>
    <div class="md6">
      <div class="md-inner">
        <div class="main">
          <ul>
            <li><img src="images/yk_weixin.png" alt="微信订阅号"><h2>微信订阅号</h2></li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
  <div id="J-rules-dialog" class="rules-dialog">
    <div class="d-inner">
      <div class="d-cont">
        <p>lalalllalalal</p>
      </div>
    <a href="javascript:void(0)" class="close">关闭</a>
    </div>
  </div>
  <%=htmlWebpackPlugin.files.webpackManifest%>
</body>
</html>